.container {
  width: 500px;
  margin: 0 auto;
}

.my-p {
  color: orange;
  border-left: solid;
  padding-left: 10px;
}

.my-img {
  padding-left: 150px;
}

.my-focaccia {
  border-radius: 6px;
}

.my-paragrafo {
  border-top: 1px;
  color: green;
  background-color: rgba(237, 180, 190, 0.28);
  text-align: center;
  margin-top: 0;
}

.my-h1 {
  text-align: center;
  font-size: 30px;
}

figcaption {
  text-align: center;
}
